In [22]:
import numpy as np
import pandas as pd
df = pd.read_csv('C:/Users/ashle/GitHub/DataScience/data/formex.csv', encoding='latin-1')
df.head()

,subj,ctrb,gender,age group,exp,data enterer,dob,dot,age exact,race/ethnicity,...,"child's response to dog question (""just this one"", ""a few"", ""a whole lot"")",posttest_dog,"child's response to cat question (""just this one"", ""a few"", ""a whole lot"")",posttest_cat,"PASSED POSTTEST? DO NOT TYPE ANYTHING HERE, FORMULA WILL DO IT FOR YOU",location,previous studies,notes,ess_comp,formex
0,2N/351K (DNU - failed posttest),513,M,5,Melis,Ariella,5/31/2013,5/31/2018,5.000,"Caucasian, not of Hispanic origin; Asian or Pa...",...,a whole lot,2,a whole lot,2.0,NO! DNU; REOPEN CB# ON CB SHEET BY CREATING NE...,Battery,Mindset 4B,DNU- failed posttest,0.950,0
1,3N,513,M,5,Melis,Ariella,5/7/2013,6/3/2018,5.072,Caucasian,...,a few,1,just this one,0.0,YES,AMNH,none,Feel like he didn't understand the generalizab...,0.475,0
2,6N,502,F,5,Melis,Ariella,11/7/2012,6/3/2018,5.572,NaN,...,a whole lot,2,just this one,0.0,YES,AMNH,none,She was good.,0.500,0
3,7N,509,F,5,Melis,Ariella,2/22/2013,6/3/2018,5.281,NaN,...,a whole lot,2,a few,1.0,YES,AMNH,none,"good, very attentive",0.725,0
4,8N (DNU - failed posttest),510,F,5,Melis,Ariella,3/11/2013,6/3/2018,5.228,NaN,...,just this one,0,a few,1.0,NO! DNU; REOPEN CB# ON CB SHEET BY CREATING NE...,AMNH,none,DNU - failed posttest,0.425,0

In [35]:
df['subj']

0     2N/351K (DNU - failed posttest)
1                                  3N
2                                  6N
3                                  7N
4          8N (DNU - failed posttest)
5                                 12N
6                                 13N
7                                 14N
8         15N (DNU - failed posttest)
9                                 18N
10                                19N
11           20N (DNU-failed posttet)
12                                22N
13                                23N
14        24N (DNU - failed posttest)
15                                27N
16                                28N
17        501 (DNU - failed posttest)
18                                502
19                                503
20        511 (DNU - failed posttest)
21                                513
22                                515
23                                516
24        517 (DNU - failed posttest)
25                                519
26                                520
27                                523
28                                527
29                                531
                   ...
63                                514
64        518 (DNU - failed posttest)
65                                521
66                                524
67                                525
68                                526
69                                528
70        529 (DNU - failed posttest)
71                                530
72        532 (DNU - failed posttest)
73                                533
74                                534
75                                536
76        539 (DNU - failed posttest)
77        541 (DNU - failed posttest)
78                                542
79                                543
80        547 (DNU - failed posttest)
81                                550
82                                551
83                                554
84                                555
85                                559
86        560 (DNU - failed posttest)
87        563 (DNU - failed posttest)
88                                564
89                                566
90                                567
91                                573
92                                575
Name: subj, Length: 93, dtype: object